<carousel id="myCarousel" interval="4000">
  <slide ng-repeat="slide in slides" active="slide.active">
    <img ng-src="{{slide.image}}" style="margin:auto;">
    <div class="carousel-caption">
      <h4>{{slide.name}}</h4>
      <p>{{slide.description}}</p>
    </div>
  </slide>
</carousel>

<div class="box" ng-repeat="categ in Product.Category">
  <div class="box-heading">{{categ.name}}</div>
  <div class="box-content clearfix">
    <div class="box-product col-sm-2 " ng-repeat="product in categ.products">
      <div class="well well-sm txt-color-black text-center">
        <div class="image">
          <a ng-href="#/shopping_cart/product/{{product.id}}">
            <img ng-src="{{product.img}}" alt="img1"></a>
        </div>
        <div class="name">
          <a ng-href="#/shopping_cart/product/{{product.id}}">{{product.name}}</a>
        </div>
        <div class="price">{{product.price}}</div>
        <div class="cart">
          <a href="" class="btn btn-primary">
            <span>Add to cart</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  <div class="modal fade" id="account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Modal title</h4>
     </div>
     <div class="modal-body">
       ...
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary">Save changes</button>
     </div>
   </div>
 </div>
</div>
-->