<div id="menu" class="btn-group">
  <ul class="clearfix">
    <li class="col-sm-3 dropdown dropdown-large">
      <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Men
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-large" role="menu">
        <!-- content for dropdown-->
      </ul> 
    </li>
    <li class="col-sm-3">
      <a href="">Women</a>
    </li>
    <li class="col-sm-3">
      <a href="">Kids</a>
    </li>
    <li class="col-sm-3">
      <a href="">Fragrances</a>
    </li>
    <li class="col-sm-3">
      <a href="">Home</a>
    </li>
    <li class="col-sm-3">
      <a href="">Sports</a>
    </li>
  </ul>
</div>
<div id="myCarousel" class="carousel fade" data-smart-ride-carousel data-interval="2000">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="item active">
      <img src="images/offers/online-shop4.jpg"  alt="">
      <div class="carousel-caption caption-right">
        <h4>Title 1</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href-void class="btn btn-info btn-sm">Read more</a>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="item">
      <img src="images/offers/online-shop2.jpg" alt="">
      <div class="carousel-caption caption-left">
        <h4>Title 2</h4>
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <br>
        <a href-void class="btn btn-danger btn-sm">Read more</a>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="item">
      <img src="images/offers/online-shop3.jpg" alt="">
      <div class="carousel-caption">
        <h4>A very long thumbnail title here to fill the space</h4>
        <br></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" ng-non-bindable data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" ng-non-bindable data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="box">
  <div class="box-heading">Featured</div>
  <div class="box-content">
    <div class="box-product">
      <div class="well well-sm txt-color-black text-center col-sm-2">
        <div class="image">
          <a href="">
            <img src="images/featured/sling-bag2.jpg" alt="img1"></a>
        </div>
        <div class="name">
          <a href="">Product 1</a>
        </div>
        <div class="price">Rs.1100</div>
        <div class="cart">
          <a href="" class="btn btn-primary">
            <span>Add to cart</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="box-heading">Latest</div>
  <div class="box-content">
    <div class="box-product">
      <div class="well well-sm txt-color-black text-center col-sm-2">
        <div class="image">
          <a href="">
            <img src="images/latest/sling-bag.jpg" alt="img1"></a>
        </div>
        <div class="name">
          <a href="">Product 1</a>
        </div>
        <div class="price">Rs.1222</div>
        <div class="cart">
          <a href="" class="btn btn-primary">
            <span>Add to cart</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
