

 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
             <h4 class="modal-header">Registration form</h4>
         </div>
         <div class="modal-body">
             <div>
                 <div class="widget-body no-padding">
                     <smart-registration-form></smart-registration-form>
             </div>
         </div>
     </div>
 </div>