/**********
* Variables
***********/
//Defining varaibles for different Screen sizes
@screen-xs: 480px;
@screen-sm: 768px;
@screen-xs-max: 767px;
@screen-979: 979px;
@screen-md: 992px;
@screen-lg: 1200px;
@screen-vlg: 1400px;

.panel-background{
	background: rgb(195,217,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(195,217,255,1) 0%, rgba(177,200,239,1) 41%, rgba(152,176,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,255,1)), color-stop(41%,rgba(177,200,239,1)), color-stop(100%,rgba(152,176,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(152,176,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  rgba(195,217,255,1) 0%,rgba(177,200,239,1) 41%,rgba(152,176,217,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
}

.menu-background{
	background: rgb(225,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(200,238,251,1) 0%, rgba(253,255,255,1) 0%, rgba(225,255,255,1) 0%, rgba(225,255,255,1) 12%, rgba(230,248,253,1) 67%, rgba(190,228,248,1) 100%, rgba(177,216,245,1) 100%, rgba(190,228,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(0%,rgba(200,238,251,1)), color-stop(0%,rgba(253,255,255,1)), color-stop(0%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(67%,rgba(230,248,253,1)), color-stop(100%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1)), color-stop(100%,rgba(190,228,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(200,238,251,1) 0%,rgba(253,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 67%,rgba(190,228,248,1) 100%,rgba(177,216,245,1) 100%,rgba(190,228,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(200,238,251,1) 0%,rgba(253,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 67%,rgba(190,228,248,1) 100%,rgba(177,216,245,1) 100%,rgba(190,228,248,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#bee4f8',GradientType=0 ); /* IE6-9 */
}
.h1-style{
	border:1px solid #d6d6d6;
	border-radius:10px 10px 0 0;
	padding:10px 15px 10px 35px;
	.panel-background;
	font-size:17px;
	font-weight:bold;
	padding-left:17px;
	margin-top:0;
	
}

.box-style{
	.panel-background;
	border-radius: 10px 10px 0 0;
	border:1px solid #d6d6d6;
	padding:10px 15px 10px 35px;
	font-size:15px;
	font-weight:bold;
}

.content-style{
	min-height:217px;
	border:1px solid #d6d6d6;
	background-color:#f5f5f5;
	margin:15px 0;
	padding:20px!important;
	border-radius:10px;
}


		



/************************
* Common Styles
*************************/

body{
	background-image:none;
	#wrapper{
		margin:0 10%;
		width:80%;
		#header-top{	
			height:37px;
			border:1px solid #d6d6d6;
			border-width:1px;
			border-radius:0 0 10px 10px;
			padding:5px 0 5px 10px;
			margin-top:5px;
			font-size:12px;
			font-weight:bold;
			
			.panel-background;

			.links{
				height:30px;
				line-height:30px;
				float:left;
				a{
					display:inline;
					padding: 0 8px 0 11px;
					color:#666;
					border-left:1px solid #625D5D;
					text-decoration:none;
				}
			}
			.links a:first-child{
				border-left:none;
			}
			.welcome{
				color:#666;
				line-height:30px;
				float:right;
				margin-right:15px;
				a{
					text-decoration:none;
					color:#666;
					cursor:pointer;
				}
			}
		}
		#header{
			height: 80px;
			margin:7px 0;
			background-color:white;
			background-image:none;
			img{
				width:80px;
				vertical-align:middle;
				border-radius:50px;
			}
			span{
				font-size:21px;
			}
			#search{
				float:right;
				position: relative;			
				i{
					position: absolute;
					padding: 10px 12px;
					font-size:14px;
					top:17px;
					right:17px;	
				}							
				input{
					padding-right: 30px;
					width:237px;
					margin-right:20px;
					margin-top:20px;
					height:28px;
					border:1px solid #d6d6d6;
					border-radius:10px;
					padding-left:10px;

					background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */

				}
			}			
		}

		#menu{
			height:50px;
			border-radius:25px;
			width:100%;
			.menu-background;
			margin-bottom:10px;
			ul{
				list-style:none;
				li{
					display:list-item;
					float:left;
					margin-top:12px;
					font-size:15px;
					font-weight:bold;
					width:150px;
					a{
						text-decoration:none;

					}
				}				
			}

		}

		#myCarousel{
			height:500px;
			margin-top:5px;
			position:relative;
			left:40px;
			width:920px;
			margin-bottom:5px;
			img{
				height:500px;
				width:940px;
			}

			span.glyphicon.glyphicon-chevron-left{
				display:none;
			}

			span.glyphicon.glyphicon-chevron-right{
				display:none;
			}
		}

		#product-info{
			border-width:0 1px 1px 1px;
			border:1px solid #d6d6d6;
			background-color: #ffffff;
			border-radius:10px;
			h1{
				.h1-style;
			}
			#content{
				padding:20px;
				.product{
					margin-bottom:30px;
					.left{
						float:left;
						margin-right:15px;
						.product-img{
							border:1px solid #d6d6d6;
							background-color:#f5f5f5;
							float:left;
							margin-bottom:20px;
							padding:10px;
							text-align:center;
							img{
								width:100%;
							}
						}
					}
					.right{
						padding:0;
						.options{
							border:1px solid #d6d6d6;
							background-color:#f5f5f5;
							padding:10px 20px;
							line-height:20px;
							text-align:left;
						}
						dl{
							margin-bottom:0;						
						}
						dl>*{
							padding-bottom:8px;
						}
						.reviews>div>a{
							padding-left:12px;
						}
						.reviews select{
							height:24px;
							padding: 2px 0;
						}
					}
				}
				
				#tabs{
					margin-top:0;
					padding: 0 13px;
				}
			}
		}
		#account-options{
			h1{
				.h1-style;
				margin-bottom:0;
			}
		}		
	}	
}

.box{
	.box-heading{
		.panel-background;
		border-radius: 10px 10px 0 0;
		border:1px solid #d6d6d6;
		padding:10px 15px 10px 35px;
		font-size:15px;
		font-weight:bold;

	}
	.box-content{
		background:#ffffff;
		border-radius:0 0 10px 10px;
		border:1px solid #d6d6d6;
		border-width:0 1px 1px 1px;
		padding:10px;

		.box-product{
			overflow:auto;
			.well{
				min-height:260px;
			}
			.image img{
				width:97px;
			}
			.name a{
				color:#222;
				font-weight:bold;
				text-decoration:none;
				margin-bottom:4px;
				font-size:13px;
			}
			.price{
				font-weight:bold;
				color:#333333;
				margin-bottom:4px;
			}
		}
	}

}

#column-left{
	background:none;
	span.box-header{
		.menu-background;
		padding:5px 31px;
		color:rgb(50, 118, 177);
		font-weight:bold;
		font-size:15px;
		border-radius: 10px 10px 0 0;
		border:1px solid #d6d6d6;
	}
	.box{
		.box-heading{
			border-radius:0;
		}
		.box-content{
			border-radius:0;
			max-height:200px;
			overflow-y:scroll;
			ul{
				list-style:none;
			}			
		}
	}		
}
	.modal-content{
		position:relative;
		top:75px;
		border-radius:10px;
		.modal-header{
			padding:0;
		}
		#account{
			border-width:0 1px 1px 1px;
			border:1px solid #d6d6d6;
			background-color: #ffffff;
			border-radius:10px;
			padding:0;
			min-height:550px;
			button{
				margin-right:8px;
			}
			h1{
				.h1-style;
				margin-bottom:0;
			}					
			#login-content{
				padding: 20px 0;
				.left{
					float:left;
					margin-right:15px;
					.content{
						.content-style;
						a{							
							margin-top:28px;
						}
					}

				}
				.right{
					margin-top:57px;
					header{
						height:34px;
						padding:12px 15px 7px 15px;
						text-align:right;
						h6{
							text-align:left;
						}
					}
					footer{
						height:34px;
						padding-bottom:7px;
						border-bottom:1px solid rgba(0,0,0,.1);
						button{
							margin-top:3px;
						}
					}
				}
			}
		}
	}

	.modal-backdrop{
		height:100%;
	}